.main-container {
  overflow: hidden;
}
.is-flex {
  display: flex;
}
.is-6 {
  flex-grow: 0.5;
}
.is-centered {
  justify-content: center;
  align-items: center;
}
.hide-mobile {
  @include mobile {
    display: none !important;
  }
}
.hide-tablet {
  @include tablet {
    display: none !important;
  }
}
.hide-desktop {
  @include desktop {
    display: none !important;
  }
}
ul {
  list-style: none;
}
i {
  font-family: $ff-barlow;
  font-size: $fs-18;
  line-height: 2rem;
  color: $light;
}
a {
  text-decoration: none;
}
.numbered-title {
  display: flex;
  text-align: center;
  font-family: $ff-barlow-condensed;
  font-size: $fs-28;
  color: $white;
  letter-spacing: $ls-4_72;
  text-transform: uppercase;
  margin-bottom: 48px;

  span {
    margin-right: 1.25rem;
    opacity: 0.25;
    font-weight: bold;
  }
}
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: $ff-bellefair;
  text-transform: uppercase;
  line-height: initial;
  color: $white;
}

h1,
.h1 {
  font-size: $fs-150;
}
h2,
.h2 {
  font-size: $fs-100;
}
h3,
.h3 {
  font-size: $fs-56;
}
h4,
.h4 {
  font-size: $fs-32;
}

h5,
.h5 {
  font-family: $ff-barlow-condensed;
  font-size: $fs-16;
  letter-spacing: $ls-2_7;
  text-transform: uppercase;
  color: $light;

  @include tablet {
    font-size: $fs-20;
    letter-spacing: $ls-3_38;
  }
  @include desktop {
    font-size: $fs-28;
    letter-spacing: $ls-4_75;
  }
}

.subHeading-1 {
  font-family: $ff-bellefair;
  font-size: $fs-28;
  text-transform: uppercase;
  color: $white;
}

.subHeading-2 {
  font-family: $ff-barlow-condensed;
  font-size: $fs-14;
  letter-spacing: $ls-2_36;
  text-transform: uppercase;
  color: $white;
}

.navText {
  font-family: $ff-barlow-condensed;
  font-size: $fs-16;
  letter-spacing: $ls-2_7;
  text-transform: uppercase;
}

p {
  font-family: $ff-barlow;
  font-size: $fs-15;
  line-height: 2rem;
  color: $light;

  @include tablet {
    font-size: $fs-16;
  }
  @include desktop {
    font-size: $fs-18;
  }
}

i {
  margin-top: 1rem;
}

.circle {
  background-color: $white;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $ff-bellefair;
  font-size: $fs-20;
  letter-spacing: $ls-1_25;
  color: $dark;
  text-transform: uppercase;
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;

  @include tablet {
    width: 242px;
    height: 242px;
    font-size: $fs-32;
    letter-spacing: $ls-2;
  }

  @include desktop {
    width: 274px;
    height: 274px;
    font-size: $fs-32;
    letter-spacing: $ls-2;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scale(1.5);
      opacity: 0.2;
    }
  }
}
